
			
				 <div class="recent">
					 <h3>RECENT POSTS</h3>
					 <ul>
  					<li ng-repeat="item in recentPostItems"><a href="#">{{item}}<a></li>
				</ul>
				 </div>
				 <div class="comments">
					 <h3>RECENT COMMENTS</h3>
					 <ul>
						 <li ng-repeat="item in recentCommentItems">{{item}}</li>				
					 </ul>
				 </div>
				 <div class="clearfix"></div>
				 <div class="archives">
					 <h3>ARCHIVES</h3>
					 <ul>
						<li ng-repeat="item in recentArchieveList"><a href="#">{{item}}<a></li>		
					 </ul>
				 </div>
				 <div class="categories">
					 <h3>CATEGORIES</h3>
					 <ul>
						 <li ng-repeat="item in recentCategogyList"><a href="#">{{item}}<a></li>
					 </ul>
				 </div>
				
			  
			 